<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenida a la Biblioteca</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      margin-top: 50px;
      text-align: center;
    }

    h1 {
      color: #343a40;
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      color: #6c757d;
      font-size: 18px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Bienvenido a la Biblioteca Pública</h1>
    <p>Explora nuestro extenso catálogo de libros, disfruta de un ambiente tranquilo para leer y estudiar, y participa en nuestras emocionantes actividades y eventos culturales.</p>
    <p>¡Estamos aquí para ayudarte a satisfacer tu sed de conocimiento y descubrimiento!</p>
  </div>
</body>
</html>

<img src="https://www.nypl.org/sites-drupal/default/files/styles/2_1_2400/public/2021-12/21XXX_TopCheckouts2021_1000x500_low-mas-prestado_0.png?h=355d1f8c&itok=GoTCvYCO" width="500" style="text-align: center;" >